

@media screen and (min-width: 375px) {
    h2 {
        font-size: 2em;
      }
}
@media screen and (min-width: 414px) {
  h2 {
      font-size: 3em;
    }
}

@media screen and (min-width: 375px) {
  h2 {
      font-size: 2em;
    }
}